DESCRIPTION

Reduce the time a Mercedes-Benz spends on the test bench.

Problem Statement Scenario:
Since the first automobile, the Benz Patent Motor Car in 1886, Mercedes-Benz has stood for important automotive innovations. These include the passenger safety cell with a crumple zone, the airbag, and intelligent assistance systems. Mercedes-Benz applies for nearly 2000 patents per year, making the brand the European leader among premium carmakers. Mercedes-Benz is the leader in the premium car industry. With a huge selection of features and options, customers can choose the customized Mercedes-Benz of their dreams.

To ensure the safety and reliability of every unique car configuration before they hit the road, the company’s engineers have developed a robust testing system. As one of the world’s biggest manufacturers of premium cars, safety and efficiency are paramount on Mercedes-Benz’s production lines. However, optimizing the speed of their testing system for many possible feature combinations is complex and time-consuming without a powerful algorithmic approach.

You are required to reduce the time that cars spend on the test bench. Others will work with a dataset representing different permutations of features in a Mercedes-Benz car to predict the time it takes to pass testing. Optimal algorithms will contribute to faster testing, resulting in lower carbon dioxide emissions without reducing Mercedes-Benz’s standards.

Following actions should be performed:

If for any column(s), the variance is equal to zero, then you need to remove those variable(s).
Check for null and unique values for test and train sets.
Apply label encoder.
Perform dimensionality reduction.
Predict your test_df values using XGBoost.
Find the datasets here.

In [1]:
#importing numpy and pandas
import numpy as np
import pandas as pd

In [2]:
#Loading Datasets

In [3]:
a = pd.read_csv('train.csv')

In [4]:
b = pd.read_csv('test.csv')

In [5]:
#Splitting data and target

In [6]:
target = a['y']

In [7]:
target.head()

0    130.81
1     88.53
2     76.26
3     80.62
4     78.02
Name: y, dtype: float64

In [8]:
a.head()

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0

In [9]:
b.head()

,ID,X0,X1,X2,X3,X4,X5,X6,X8,X10,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,1,az,v,n,f,d,t,a,w,0,...,0,0,0,1,0,0,0,0,0,0
1,2,t,b,ai,a,d,b,g,y,0,...,0,0,1,0,0,0,0,0,0,0
2,3,az,v,as,f,d,a,j,j,0,...,0,0,0,1,0,0,0,0,0,0
3,4,az,l,n,f,d,z,l,n,0,...,0,0,0,1,0,0,0,0,0,0
4,5,w,s,as,c,d,y,i,m,0,...,1,0,0,0,0,0,0,0,0,0

In [10]:
c = a.drop(['y'],axis=1)

In [11]:
features = c

In [12]:
features.shape

(4209, 377)

In [13]:
features.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4209 entries, 0 to 4208
Columns: 377 entries, ID to X385
dtypes: int64(369), object(8)
memory usage: 12.1+ MB

In [14]:
features.describe()

,ID,X10,X11,X12,X13,X14,X15,X16,X17,X18,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
count,4209.000000,4209.000000,4209.0,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,...,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000
mean,4205.960798,0.013305,0.0,0.075077,0.057971,0.428130,0.000475,0.002613,0.007603,0.007840,...,0.318841,0.057258,0.314802,0.020670,0.009503,0.008078,0.007603,0.001663,0.000475,0.001426
std,2437.608688,0.114590,0.0,0.263547,0.233716,0.494867,0.021796,0.051061,0.086872,0.088208,...,0.466082,0.232363,0.464492,0.142294,0.097033,0.089524,0.086872,0.040752,0.021796,0.037734
min,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2095.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,4220.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,6314.000000,0.000000,0.0,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,...,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,8417.000000,1.000000,0.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [15]:
#If for any column(s), the variance is equal to zero, then you need to remove those variable(s).

In [16]:
features.var()[features.var()==0].index.values

array(['X11', 'X93', 'X107', 'X233', 'X235', 'X268', 'X289', 'X290',
       'X293', 'X297', 'X330', 'X347'], dtype=object)

In [17]:
features1 = features.drop(features.var()[features.var()==0].index.values,axis=1)

In [18]:
features1.shape

(4209, 365)

In [19]:
#Check for null and unique values for test and train sets.

In [20]:
features1.isna().any()

ID      False
X0      False
X1      False
X2      False
X3      False
        ...
X380    False
X382    False
X383    False
X384    False
X385    False
Length: 365, dtype: bool

In [21]:
features1.isna().sum()

ID      0
X0      0
X1      0
X2      0
X3      0
       ..
X380    0
X382    0
X383    0
X384    0
X385    0
Length: 365, dtype: int64

In [22]:
target.isna().any()

False

In [23]:
#Applying label encoder for categorical Variables

In [24]:
features1.dtypes

ID       int64
X0      object
X1      object
X2      object
X3      object
         ...
X380     int64
X382     int64
X383     int64
X384     int64
X385     int64
Length: 365, dtype: object

In [25]:
features1.dtypes.values

array([dtype('int64'), dtype('O'), dtype('O'), dtype('O'), dtype('O'),
       dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('int64'),
       dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'),
       dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'),
       dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'),
       dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'),
       dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'),
       dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'),
       dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'),
       dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'),
       dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'),
       dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'),
       dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'),
       dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'),
       dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'),
       dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'),
       dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'),
       dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'),
       dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'),
       dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'),
       dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'),
       dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'),
       dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'),
       dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'),
       dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'),
       dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'),
       dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'),
       dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'),
       dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'),
       dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'),
       dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'),
       dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'),
       dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'),
       dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'),
       dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'),
       dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'),
       dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'),
       dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'),
       dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'),
       dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'),
       dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'),
       dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'),
       dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'),
       dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'),
       dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'),
       dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'),
       dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'),
       dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'),
       dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'),
       dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'),
       dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'),
       dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'),
       dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'),
       dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'),
       dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'),
       dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'),
       dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'),
       dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'),
       dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'),
       dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'),
       dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'),
       dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'),
       dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'),
       dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'),
       dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'),
       dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'),
       dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'),
       dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'),
       dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'),
       dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'),
       dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'),
       dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'),
       dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'),
       dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'),
       dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'),
       dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'),
       dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'),
       dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'),
       dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'),
       dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'),
       dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'),
       dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'),
       dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'),
       dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'),
       dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'),
       dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'),
       dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'),
       dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'),
       dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'),
       dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'),
       dtype('int64'), dtype('int64'), dtype('int64')], dtype=object)

In [26]:
features1.describe(include ='object')

          X0    X1    X2    X3    X4    X5    X6    X8
count   4209  4209  4209  4209  4209  4209  4209  4209
unique    47    27    44     7     4    29    12    25
top        z    aa    as     c     d     v     g     j
freq     360   833  1659  1942  4205   231  1042   277

In [27]:
category = features1.describe(include ='object').columns.values

In [28]:
category

array(['X0', 'X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'X8'], dtype=object)

In [29]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [30]:
for i in category:
    features1[i] = le.fit_transform(features1[i])

In [31]:
fea = features1.values
fea

array([[   0,   32,   23, ...,    0,    0,    0],
       [   6,   32,   21, ...,    0,    0,    0],
       [   7,   20,   24, ...,    0,    0,    0],
       ...,
       [8412,    8,   23, ...,    0,    0,    0],
       [8415,    9,   19, ...,    0,    0,    0],
       [8417,   46,   19, ...,    0,    0,    0]], dtype=int64)

In [32]:
from sklearn.model_selection import train_test_split

X, y = features1.values , target.values

le = LabelEncoder()

y = le.fit_transform(y)

X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2)

In [33]:
X_train.shape ,X_test.shape ,y_train.shape , y_test.shape

((3367, 365), (842, 365), (3367,), (842,))

In [34]:
#Normalizing the data using Standard scaler

In [35]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
featuresstd = sc.fit_transform(fea)

In [36]:
X_train=sc.fit_transform(X_train)
X_test=sc.fit_transform(X_test)

In [37]:
featuresstd

array([[-1.72565045,  0.16301209,  1.39348787, ..., -0.04081511,
        -0.02180363, -0.03778296],
       [-1.72318873,  0.16301209,  1.15902093, ..., -0.04081511,
        -0.02180363, -0.03778296],
       [-1.72277844, -0.71055977,  1.51072134, ..., -0.04081511,
        -0.02180363, -0.03778296],
       ...,
       [ 1.72568262, -1.58413164,  1.39348787, ..., -0.04081511,
        -0.02180363, -0.03778296],
       [ 1.72691348, -1.51133398,  0.924554  , ..., -0.04081511,
        -0.02180363, -0.03778296],
       [ 1.72773405,  1.18217927,  0.924554  , ..., -0.04081511,
        -0.02180363, -0.03778296]])

In [38]:
#Performing dimensionality reduction using PCA

In [39]:
from sklearn.decomposition import PCA

pca =  PCA(n_components = 364 , svd_solver = 'full')
pca.fit(featuresstd,target)

PCA(copy=True, iterated_power='auto', n_components=364, random_state=None,
    svd_solver='full', tol=0.0, whiten=False)

In [40]:
pca.explained_variance_ratio_

array([6.87384486e-02, 5.67283084e-02, 4.52510465e-02, 3.41738590e-02,
       3.25538323e-02, 3.15418578e-02, 2.85471262e-02, 2.11817663e-02,
       1.96863310e-02, 1.77893503e-02, 1.63562978e-02, 1.56009983e-02,
       1.45906030e-02, 1.44564755e-02, 1.34495596e-02, 1.29257331e-02,
       1.24138205e-02, 1.17139363e-02, 1.11912605e-02, 1.07496090e-02,
       9.89891380e-03, 9.67760321e-03, 9.40045751e-03, 9.08605429e-03,
       8.72347187e-03, 8.40759803e-03, 7.92761993e-03, 7.61388789e-03,
       7.34903377e-03, 7.18304967e-03, 6.91226562e-03, 6.75052104e-03,
       6.55057087e-03, 6.46544442e-03, 6.21347862e-03, 6.00246073e-03,
       5.86650100e-03, 5.74454073e-03, 5.62534299e-03, 5.55771245e-03,
       5.50145016e-03, 5.38603020e-03, 5.32448904e-03, 5.23215509e-03,
       5.11352399e-03, 5.01856856e-03, 4.97724151e-03, 4.77275686e-03,
       4.65790330e-03, 4.59136569e-03, 4.46221069e-03, 4.37329823e-03,
       4.31692752e-03, 4.29122103e-03, 4.22545368e-03, 4.18909864e-03,
       4.13147756e-03, 4.05572055e-03, 4.02219838e-03, 3.88352451e-03,
       3.86855390e-03, 3.80218125e-03, 3.74183633e-03, 3.65935328e-03,
       3.59750585e-03, 3.57122881e-03, 3.52939934e-03, 3.46015860e-03,
       3.41059081e-03, 3.35090663e-03, 3.32836061e-03, 3.25939967e-03,
       3.23873381e-03, 3.20479828e-03, 3.16934479e-03, 3.15803594e-03,
       3.14860352e-03, 3.08902519e-03, 3.06593778e-03, 3.03922017e-03,
       2.99866777e-03, 2.98425158e-03, 2.95864048e-03, 2.92366125e-03,
       2.90060036e-03, 2.89134948e-03, 2.86429271e-03, 2.84372662e-03,
       2.82639545e-03, 2.80432650e-03, 2.79320236e-03, 2.76794234e-03,
       2.74408726e-03, 2.73399400e-03, 2.71653714e-03, 2.70405694e-03,
       2.64840292e-03, 2.64043577e-03, 2.61697175e-03, 2.59979550e-03,
       2.58922975e-03, 2.55472980e-03, 2.53178610e-03, 2.51264155e-03,
       2.50013923e-03, 2.48148140e-03, 2.43857907e-03, 2.41888441e-03,
       2.40044566e-03, 2.37784540e-03, 2.34644157e-03, 2.30576930e-03,
       2.30055351e-03, 2.27058249e-03, 2.25174026e-03, 2.22924807e-03,
       2.20860334e-03, 2.19459728e-03, 2.14566993e-03, 2.13139329e-03,
       2.11386679e-03, 2.09153085e-03, 2.05647559e-03, 2.03631257e-03,
       2.02058195e-03, 1.98862377e-03, 1.93370412e-03, 1.91698295e-03,
       1.91371488e-03, 1.88131071e-03, 1.84699631e-03, 1.81312765e-03,
       1.78888561e-03, 1.78173478e-03, 1.75136363e-03, 1.71302083e-03,
       1.70263867e-03, 1.67894503e-03, 1.65359774e-03, 1.61436755e-03,
       1.60919400e-03, 1.57354948e-03, 1.54211748e-03, 1.53117679e-03,
       1.49600424e-03, 1.49006232e-03, 1.47679195e-03, 1.42609804e-03,
       1.40734780e-03, 1.37899205e-03, 1.33569436e-03, 1.28500508e-03,
       1.26625060e-03, 1.25968264e-03, 1.20501893e-03, 1.15945491e-03,
       1.14024186e-03, 1.12707545e-03, 1.09198617e-03, 1.05580874e-03,
       9.98288750e-04, 9.95997270e-04, 9.85635385e-04, 9.58068423e-04,
       9.46488610e-04, 9.17391519e-04, 8.97072052e-04, 8.83627297e-04,
       8.64103343e-04, 8.61046403e-04, 8.30134349e-04, 8.23370994e-04,
       7.97497493e-04, 7.91232576e-04, 7.80250283e-04, 7.75615857e-04,
       7.31777571e-04, 7.15367511e-04, 6.84025838e-04, 6.80066339e-04,
       6.58775267e-04, 6.52685190e-04, 6.38607092e-04, 6.09573722e-04,
       5.82842300e-04, 5.54971238e-04, 5.43304439e-04, 5.39733752e-04,
       5.29043688e-04, 5.21040581e-04, 5.07889242e-04, 4.92540936e-04,
       4.73980879e-04, 4.57703776e-04, 4.48228786e-04, 4.37582635e-04,
       4.25204524e-04, 4.13231926e-04, 4.04535565e-04, 3.98574065e-04,
       3.95051127e-04, 3.85747570e-04, 3.71574811e-04, 3.61000259e-04,
       3.53480891e-04, 3.37310722e-04, 3.28306532e-04, 3.16000591e-04,
       3.06120059e-04, 2.90677356e-04, 2.83692305e-04, 2.73418131e-04,
       2.64039769e-04, 2.55632149e-04, 2.44206183e-04, 2.36643217e-04,
       2.29094751e-04, 2.27609012e-04, 2.26205473e-04, 2.17353791e-04,
       2.09016722e-04, 1.97809382e-04, 1.74391702e-04, 1.62710559e-04,
       1.55901862e-04, 1.47580929e-04, 1.45387884e-04, 1.38992882e-04,
       1.24594248e-04, 1.16194105e-04, 1.08102356e-04, 1.00385493e-04,
       9.30140618e-05, 8.35355430e-05, 7.79625652e-05, 6.86332572e-05,
       6.35529331e-05, 6.18306910e-05, 5.67525713e-05, 4.96219225e-05,
       4.83964929e-05, 4.48047409e-05, 4.28252200e-05, 4.21839115e-05,
       3.75586060e-05, 3.66712087e-05, 3.15632102e-05, 2.99405021e-05,
       2.59931552e-05, 2.03687439e-05, 1.42920428e-05, 1.24442213e-05,
       1.17536749e-05, 8.10835548e-06, 7.12862510e-06, 4.72181013e-06,
       4.53621801e-06, 2.99639249e-06, 2.47918343e-06, 1.41714264e-06,
       1.35562687e-32, 2.13428243e-33, 1.87593645e-33, 1.64577621e-33,
       1.58955441e-33, 1.34565104e-33, 1.26757151e-33, 1.20071674e-33,
       1.16642254e-33, 1.10539433e-33, 1.08003395e-33, 9.78274650e-34,
       9.08472909e-34, 7.68769202e-34, 7.59855135e-34, 6.75187871e-34,
       6.27971084e-34, 5.02803702e-34, 4.30580440e-34, 2.98859088e-34,
       2.92049419e-34, 2.91115468e-34, 2.42990592e-34, 2.42990592e-34,
       2.42990592e-34, 2.42990592e-34, 2.42990592e-34, 2.42990592e-34,
       2.42990592e-34, 2.42990592e-34, 2.42990592e-34, 2.42990592e-34,
       2.42990592e-34, 2.42990592e-34, 2.42990592e-34, 2.42990592e-34,
       2.42990592e-34, 2.42990592e-34, 2.42990592e-34, 2.42990592e-34,
       2.42990592e-34, 2.42990592e-34, 2.42990592e-34, 2.42990592e-34,
       2.42990592e-34, 2.42990592e-34, 2.42990592e-34, 2.42990592e-34,
       2.42990592e-34, 2.42990592e-34, 2.42990592e-34, 2.42990592e-34,
       2.42990592e-34, 2.42990592e-34, 2.42990592e-34, 2.42990592e-34,
       2.42990592e-34, 2.42990592e-34, 2.42990592e-34, 2.42990592e-34,
       2.42990592e-34, 2.42990592e-34, 2.42990592e-34, 2.42990592e-34,
       2.42990592e-34, 2.42990592e-34, 2.42990592e-34, 2.42990592e-34,
       2.42990592e-34, 2.42990592e-34, 2.42990592e-34, 2.42990592e-34,
       2.42990592e-34, 2.42990592e-34, 2.42990592e-34, 2.42990592e-34,
       2.42990592e-34, 2.42990592e-34, 2.42990592e-34, 2.42990592e-34,
       2.42990592e-34, 2.42990592e-34, 2.42990592e-34, 2.42990592e-34,
       2.42990592e-34, 2.42990592e-34, 2.42990592e-34, 2.42990592e-34,
       2.42990592e-34, 2.42990592e-34, 2.42990592e-34, 2.42990592e-34,
       2.42990592e-34, 2.42990592e-34, 2.42990592e-34, 2.42990592e-34,
       2.42990592e-34, 1.81823671e-34, 1.49175009e-34, 1.21269790e-34,
       9.55011446e-35, 3.53346722e-35, 2.56953827e-35, 1.22734414e-35])

In [41]:
np.mean(pca.explained_variance_ratio_)

0.0027472527472527475

In [42]:
pca.explained_variance_ratio_ >  0.002747252747252748

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False])

In [43]:
print(len(pca.explained_variance_ratio_[pca.explained_variance_ratio_ > 0.002747252747252748]))

92

In [44]:
pca = PCA(n_components = 92, svd_solver = 'full')
pca.fit(featuresstd ,  target)

PCA(copy=True, iterated_power='auto', n_components=92, random_state=None,
    svd_solver='full', tol=0.0, whiten=False)

In [45]:
finalfeatures = pca.transform(featuresstd)
finalfeatures

array([[12.2479426 , -2.94616767, -0.96889421, ...,  0.25882444,
        -0.61676101,  1.10463618],
       [-0.10761082,  0.3647402 ,  0.98997272, ...,  0.77942142,
        -0.2513724 ,  1.93558103],
       [10.27291072, 21.10326107, -5.02216176, ...,  0.68435581,
        -0.25604245, -0.12838853],
       ...,
       [ 0.44231616,  0.8989563 ,  3.45276206, ..., -0.32567421,
         0.26075324, -0.29454552],
       [-1.33649135,  0.59062955, -0.10217684, ...,  0.04258129,
         0.39559623, -0.32160133],
       [-2.16301364, -1.05903452, -0.28051994, ...,  0.49978042,
         0.50150749,  0.41787128]])

In [46]:
finalfeatures.shape

(4209, 92)

In [47]:
target.shape

(4209,)

In [48]:
#Predicting the values using Linear Regression

In [49]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(finalfeatures,target, test_size=0.2)

In [50]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()

In [51]:
lr.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [52]:
y_pred = lr.predict(X_test)

In [53]:
pd.DataFrame({'Actual' : y_test , 'Predicted' : y_pred})

      Actual   Predicted
2569   87.78   94.908706
1976  100.85  105.942556
722    87.07   95.788066
1028  117.98  108.330053
2790  107.97  113.195746
...      ...         ...
602   105.43  110.820748
3466   96.26  108.539179
2204   99.03   95.037396
2632  109.49  109.934759
2761  107.73  115.202090

[842 rows x 2 columns]

In [54]:
#predicting the values using XGBRegressor

In [55]:
import xgboost as xgb

In [56]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(finalfeatures,target, test_size=0.2)

In [57]:
from xgboost import XGBRegressor
model = XGBRegressor(objective='reg:squarederror', learning_rate=0.1)
    
model.fit(X_train,y_train)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
             importance_type='gain', interaction_constraints='',
             learning_rate=0.1, max_delta_step=0, max_depth=6,
             min_child_weight=1, missing=nan, monotone_constraints='()',
             n_estimators=100, n_jobs=0, num_parallel_tree=1,
             objective='reg:squarederror', random_state=0, reg_alpha=0,
             reg_lambda=1, scale_pos_weight=1, subsample=1, tree_method='exact',
             validate_parameters=1, verbosity=None)

In [58]:
y_pred = model.predict(X_test)

In [59]:
pd.DataFrame({'Actual' : y_test , 'Predicted' : y_pred})

      Actual   Predicted
3582   93.96   91.042679
3999  100.90  102.910324
3332   87.46   94.036461
1674   98.07   96.550613
634   112.71  112.923676
...      ...         ...
1603   91.01   92.351799
3022   91.86   99.766640
2378   92.38  100.559090
651   106.72  106.961151
2324   92.54   90.589111

[842 rows x 2 columns]

In [60]:
#fit into model and get scores using XGBoost regression

model = XGBRegressor(objective='reg:squarederror', learning_rate=0.1)
    
model.fit(X_train,y_train)

#Check the quality of model

print("Training Accuracy ",model.score(X_train,y_train))
print("Testing Accuracy ",model.score(X_test,y_test))

Training Accuracy  0.8907866395893875
Testing Accuracy  0.43037251796074166

In [61]:
from sklearn.metrics import r2_score

r2_score(y_test,model.predict(X_test), multioutput='variance_weighted')

0.43037251796074166

In [62]:
from sklearn.metrics import mean_absolute_error

#MAE - check this error metrics

mean_absolute_error(y_test,model.predict(X_test))

5.978755960351214

In [63]:
## Predicting test_df values using XGBoost.

In [64]:
target

0       130.81
1        88.53
2        76.26
3        80.62
4        78.02
         ...
4204    107.39
4205    108.77
4206    109.22
4207     87.48
4208    110.85
Name: y, Length: 4209, dtype: float64

In [65]:
#If for any column(s), the variance is equal to zero, then you need to remove those variable(s).

In [66]:
b.var()[b.var()==0].index.values

array(['X257', 'X258', 'X295', 'X296', 'X369'], dtype=object)

In [67]:
test = b.drop(b.var()[b.var()==0].index.values,axis=1)

In [68]:
test.shape

(4209, 372)

In [69]:
#Check for null and unique values for test and train sets.

In [70]:
test.isna().any()

ID      False
X0      False
X1      False
X2      False
X3      False
        ...
X380    False
X382    False
X383    False
X384    False
X385    False
Length: 372, dtype: bool

In [71]:
test.isna().sum()

ID      0
X0      0
X1      0
X2      0
X3      0
       ..
X380    0
X382    0
X383    0
X384    0
X385    0
Length: 372, dtype: int64

In [72]:
target.isna().any()

False

In [73]:
#Applying label encoder for categorical Variables

In [74]:
category1 = test.describe(include ='object').columns.values
category1

array(['X0', 'X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'X8'], dtype=object)

In [75]:
from sklearn.preprocessing import LabelEncoder
lec = LabelEncoder()

In [76]:
for i in category:
    test[i] = lec.fit_transform(test[i])

In [77]:
feat = test.values
feat

array([[   1,   21,   23, ...,    0,    0,    0],
       [   2,   42,    3, ...,    0,    0,    0],
       [   3,   21,   23, ...,    0,    0,    0],
       ...,
       [8413,   47,   23, ...,    0,    0,    0],
       [8414,    7,   23, ...,    0,    0,    0],
       [8416,   42,    1, ...,    0,    0,    0]], dtype=int64)

In [78]:
X,y = test.values , target.values

In [79]:

lec = LabelEncoder()

y = lec.fit_transform(y)

In [80]:
#Predicting y-value(time) on test_df values using XGBoost.

In [81]:
import xgboost as xgb

In [82]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(test,target, test_size=0.2)

In [83]:
from xgboost import XGBRegressor
model = XGBRegressor(objective='reg:squarederror', learning_rate=0.1)
    
model.fit(X_train,y_train)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
             importance_type='gain', interaction_constraints='',
             learning_rate=0.1, max_delta_step=0, max_depth=6,
             min_child_weight=1, missing=nan, monotone_constraints='()',
             n_estimators=100, n_jobs=0, num_parallel_tree=1,
             objective='reg:squarederror', random_state=0, reg_alpha=0,
             reg_lambda=1, scale_pos_weight=1, subsample=1, tree_method='exact',
             validate_parameters=1, verbosity=None)

In [84]:
y_predt = model.predict(X_test)

In [85]:
pd.DataFrame({'Actual' : y_test , 'Predicted' : y_predt})

      Actual   Predicted
4200  108.59  103.274933
1012   89.43  103.723076
193    90.54   97.508148
3033  106.04  101.850121
2818  101.92  101.307411
...      ...         ...
203   136.41   98.734222
429   154.87  101.426765
1444   87.00  104.296928
1112   93.95  100.132278
582    92.29   98.102943

[842 rows x 2 columns]

In [86]:
print(y_predt)

[103.27493  103.723076  97.50815  101.85012  101.30741  106.591835
 102.46691   98.94566  101.74861   99.44234  100.641525  99.029236
 102.30223  102.622314 100.835976 102.41957  102.94305   99.268936
 100.46998   98.39673   94.66549   98.83996  100.259964 102.175674
  95.06955   96.09242   98.21539   99.76069  101.20213  101.47222
 103.4796   102.11756   99.23348   99.18473  123.79226  100.6226
 103.86228  102.577095 109.68129  102.76705   99.32746   98.89783
  98.99497  100.132    101.52334   99.78276   98.83815   94.17593
 101.33589  100.70447  102.28134  101.1475    99.91386  100.59154
  98.28317  101.19163   95.65593   96.660774 100.06372   97.86057
  97.14725  103.27502   99.37115  103.06418  100.09363   98.93131
 104.10266  100.54063   98.6065    99.92577   96.57313  106.387115
  98.85196   99.697365  99.888916  99.02734  101.31686  103.37309
 100.69429  100.17704  100.36803  104.08862  100.85737   98.43767
 102.61132  100.06832  103.571075 109.31889   96.14872  102.91509
 103.273346  95.01879   98.0214   102.015915  98.475105  99.34258
 104.71358   96.1078   100.11088   99.95264  121.47644  100.42146
 101.225     99.08313  100.42441  102.327194 104.086784 102.66289
 103.503136  97.93891  101.42383   99.19062   99.05452  102.66947
 101.37517   98.57437   96.943    100.41092  103.930305 104.75918
  97.480385  98.59047  103.674355 103.10716  102.96323   99.963104
 103.30626  102.5351   104.18232  101.002266 101.64186   98.77068
 102.39943   97.85449   97.9355   100.931694  94.62932   97.53886
 103.313126  99.81345  102.570496 103.69295  100.40122  101.05743
 101.695755 102.0936   100.57066  102.85104  100.44542  103.72961
  98.68615  107.974434 101.07194   97.69709  103.04317   94.551926
 103.93056   99.74807   96.77595   99.60826  101.75144   99.866066
 100.37304   94.287125 101.93638  100.06852   97.732834  99.531525
  98.04572   96.15488   95.395164  95.61707  102.734566 100.34075
  99.58528   98.892654  94.99598  101.36047  101.52506   99.88425
  99.18111   81.34336  103.42957  103.58376  100.90278   99.20773
 100.61393   98.60938  100.20144  100.50247  100.98311   99.15898
 104.13173  102.067696  98.02666   96.97582   98.09326   98.70182
 100.14808   99.08338  100.648346  97.45076   99.68396   99.40257
  98.84766  100.174736 101.262596  97.52403  104.170074  99.674484
  98.614655  98.47759  105.69418   99.03705   97.9079   101.84712
 100.41901  102.39943   99.37496   98.72429  101.232506  99.89348
  98.81735   96.45839   99.35231   97.87975  101.973434  99.24647
 100.583336  99.1024   104.83598  101.60985   97.56679   97.17475
  97.32082   98.460014  99.41834  104.87988   95.064316 100.96836
 103.40945  103.74251   99.61882   98.13588   98.65042   97.73589
  98.33444   92.76864  100.15676   96.73788   98.094986  99.25601
  97.42286  100.37243  100.96708  102.54482   99.668495 101.70916
 102.15799  101.95607   94.62932  102.12004   98.94409   97.07171
  97.93722   97.40454  103.02115  100.98514  110.19022   89.132095
 100.716064  99.38427  101.206116 100.07434  106.603195 104.24621
 100.00817  101.016     93.38023  102.54542   98.9382   100.98805
 103.7599   101.63907   98.04208  100.7682   100.538994 100.75777
 100.52511   98.443306  98.92658   99.11434  102.179665 100.31604
 103.32472  100.245544 100.5688    99.568504 101.18429  102.40353
 104.6908   103.70294   99.35919  101.28634  100.63423   98.448425
 103.23639  102.39002  102.97688   97.423775 100.1074   101.06552
 103.048386 100.80832  101.255905  98.88501  100.10145  103.01947
 103.11106  101.393425 100.026855  95.34748   96.40098   99.37984
  99.99517  102.39797   94.968    102.386826 101.09395  100.49926
  96.78998  101.68977   94.47358  100.51547  101.973045  92.01963
  99.496376  99.93468   99.91251  100.05697  100.48279   97.95215
  94.84679   97.14694   91.55946   97.13233   98.14058   99.752365
 100.31872   98.15378   99.93566  100.259445 100.2169   100.18847
  98.404274 102.19134   98.91014   95.958336  94.89173  102.57642
  99.879745 102.76403  101.15711  106.22449  102.33226   96.05404
 101.62823   99.00294   96.70593  101.63234  100.58483  102.13884
 103.16158  100.5529    98.90674   96.18809  103.773575 100.44305
  98.6312    97.94434  102.21669  101.63311   98.63282   99.98716
  96.36913  101.16106   98.04036  104.19843  101.60259  104.932236
 100.89268   97.31385  100.70681   95.665985 101.54093   99.854774
 100.73411   98.4227    97.39684  102.80498  107.9568   102.20962
 103.27393  103.13529  100.78567  100.135925 104.453316 100.08968
 101.49505   99.51878   99.73321   89.11302  100.344444  98.994125
 101.0456   102.41912  103.28791  103.42285  106.15441  104.99103
  98.441536 105.025566  96.456055  99.23395   99.59903  102.18543
 101.00102   97.0881    99.920044 100.94196  103.70233  102.51469
 100.399185 101.47215  100.70483  102.351204 109.68129  105.25949
  99.95086  102.9711   100.80669  105.584335  99.08681  101.6098
 100.49817   97.973305  98.7522    96.80943  102.49168  100.971016
  99.19453  105.26299   97.19579  100.82798  100.45206   99.08472
 101.600075  99.54131  100.57746   99.1174    99.64305   98.826126
 101.10292   99.29138  101.314415  98.1156   101.6654    94.20049
 105.69848  100.27297  106.26406   92.18987  102.91509  101.18164
 102.71614  105.386795 102.18732  103.79566   97.95851   97.85998
  99.270035 101.55633  104.178375  98.98913  104.39875   99.41041
 100.48455   98.23783  104.14293  101.40635   98.63391   99.131805
 100.54615   99.58803   99.287315 102.361374 100.73105   99.90201
 103.17747  101.24527  100.953186 101.381134 104.55622   97.50129
  94.0488   108.26986   99.85309  102.53309   98.25979   99.74607
 102.22496  101.19718  103.34811  101.47256  101.1279   103.49704
  96.87723   98.993515  99.985344 102.95942   99.12355   97.67057
 104.01509  100.79763  102.91437  101.08172  101.080925 101.13958
  97.94058   95.08946  101.7502   102.16988   99.95668  100.998634
  99.284836 101.02856   99.62451   95.247475  97.34779   99.72949
 105.209145 100.83609  101.15453   99.85791  100.440155  96.35076
  99.8229   100.407684  98.808205  98.49355  103.55226   99.11241
 100.9512    98.14058  101.097244 103.372734 103.12869  100.031044
 103.7361    99.167175 100.69934  100.04398  101.190056 102.14433
 103.70543  100.74958   97.283005  98.53449   97.14279  101.174324
  99.92804  106.35113   95.310486 101.812935  98.67043  103.63185
  95.09197   99.09042   96.49798  101.82458   98.8683    99.7158
  99.80279   99.06603  100.75897  103.089516 100.53821  102.43848
 100.90591  101.58803  101.60809   99.58024   98.715996  98.4793
 101.648186 102.44431   99.74469   99.739876  98.40948  101.186035
  90.525925  99.07073  100.662346 100.27289   98.706184  97.23054
 105.3255   100.367836 102.32993   97.41016  101.36252  101.05325
 101.163376 100.61227   97.15689   99.46211   97.29732  101.5527
 103.45446   98.39684   95.82414  100.05219   98.0214    96.29739
 102.39943   96.23515  102.35451   97.77504   99.39914  101.01382
  98.89954  100.65781  100.29534   99.71418   99.573654 103.71119
  99.28196  100.42671   99.50672   99.78522  102.66459   99.67472
  96.18079  102.16462   98.33654   97.94611  101.27919  104.13293
 103.238846  99.26739   97.639275 102.688255 101.42392   98.57217
  96.36675  101.09697   98.95352   98.83017  102.77688  103.887695
  95.80612   99.5818    98.87209   94.36432  103.49199   96.13467
 101.638245 100.280815  99.15984  102.00799   98.29032   99.33292
 107.76388  101.69289   97.65435  100.39847  102.84782   95.78964
  99.464806 100.22974   98.826126 103.19892   99.99366  101.12277
  98.34702  102.74389  100.66137   97.76063  100.24579   95.53552
  98.758255  98.84912  100.940445  99.41204  100.27138  103.21104
 101.58284  100.1887   102.29409  100.67472  101.35193  100.74932
 101.08529   97.51651  101.16106   98.73549   93.188065  98.51372
  98.26531  100.76229   98.75888  104.99927  101.2523    99.92567
 100.81989   94.49008  102.764534  99.6133   103.13738  104.29746
 105.64189   99.881714 101.09682  102.61666   97.73113  106.475685
 100.14285  101.86465  103.15621  101.62114  100.14876  101.65419
  99.27795  102.16436  102.511154 101.178276 102.29278  100.75616
  97.8752    99.876526 100.641525 102.53309  100.99795  100.23576
 101.70422   99.298874 101.1845   101.61196   99.6887   100.20919
 100.91692  100.66058  101.09288  101.77219   99.70454   85.20813
  99.65466  107.08217   99.60092  103.77835  103.412476  96.9431
 104.41891   98.86933  102.15088   98.539116 104.791214 101.06398
 102.0897    99.0284   101.48135  102.70266  101.165634  99.47334
  99.92433  100.91377   97.5061   103.936226  99.02305  100.682045
  98.41296  100.84285  101.43885   96.88461   97.70831   95.72876
 101.24666   98.63125   97.95639   99.21716   96.005455 100.69415
  99.43478   98.44049   97.307045 101.48083   98.32348   98.02822
 101.57766   98.42517   96.903885 101.02202  101.75742  104.59499
 100.35404  100.97708  100.52073   99.9096    99.89517  100.05702
 103.019936 104.55039  105.2887   100.84079   79.30924  102.67251
 100.25777  101.6546   101.167625 109.813576  96.84301   98.778046
  98.022514 100.57733   98.363914  99.92257   98.946144  99.45882
  99.811646 101.03172  104.15555  101.4885    99.419136 103.78246
  99.82628  103.571075  99.744514  98.73422  101.426765 104.29693
 100.13228   98.10294 ]

In [87]:
# y-predt is the list of y values that is the time taken to pass testing.